@model WebApp.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="account_grid">
    <div class="login-right">
        @using (Html.BeginForm("Login", "Account", new { returnUrl = @ViewBag.ReturnUrl }, FormMethod.Post))
        {
            <h3>Đăng nhập</h3>
            <p>Nếu bạn đã có tài khoản, hãy đăng nhập ngay !</p>
            @Html.ValidationSummary(false, "", new { @class = "error" })
            <div>
                <span>Tài khoản<label>*</label></span>
                @Html.TextBoxFor(model => model.UserName)
            </div>
            <div>
                <span>Mật khẩu<label>*</label></span>
                @Html.PasswordFor(model => model.Password)
            </div>
            <div>
                @Html.CheckBoxFor(model => model.RememberMe)
                Nhớ mật khẩu?
            </div>
            <a class="forgot" href="#">Quên mật khẩu?</a>
            <input type="submit" value="Đăng nhập">
        }

    </div>
    <div class=" login-left">
        <h3>Chưa có tài khoản</h3>
        <p>Nếu bạn chưa có tài khoản vui lòng đăng ký tại link dưới đây</p>
        <a class="acount-btn" href="/dang-ky.html">Đăng ký tài khoản</a>
    </div>
    <div class="clearfix"> </div>
</div>

